body{
    margin:0;
    background:#000;
    font-family:Arial,sans-serif;
    color:#fff;
}

.container{
    max-width:500px;
    margin:auto;
}

.hero{
    width:100%;
    display:block;
}

.menu-wrapper{
    position:relative;
}

.hotspot{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    width:74%;
}


/* COFFEE TIME */
.coffee{
    top:41%;
    height:5%;
}

/* SUMMER MENU */
.summer{
    top:48%;
    height:5%;
}

/* SNACK & SWEET */
.snack{
    top:55%;
    height:5%;
}

/* BEZALKOHOLNA PIĆA */
.drinks{
    top:73%;
    height:5%;
}

/* PIVO I VINO */
.pivo{
    top:80%;
    height:5%;
}

/* ALKOHOLNA PIĆA */
.alcohol{
    top:86%;
    height:6%;
}

.back{
    display:block;
    margin:15px;
    background:#181818;
    border:1px solid #c8a35c;
    border-radius:22px;
    padding:18px;
    text-align:center;
    text-decoration:none;
    font-weight:700;
    font-size:20px;
    color:#d9b36b;
}

#gallery{
    max-width:700px;
    margin:auto;
    padding:10px;
}

.menuimg{
    width:100%;
    display:block;
    margin-bottom:16px;
    border-radius:16px;
    box-shadow:0 4px 12px rgba(0,0,0,.4);
}


.icecream{ top:60%; height:5%; }
.cocktails{ top:66%; height:5%; }
.combo{ top:72%; height:5%; }
.beer{ top:78%; height:5%; }
.alcohol{ top:84%; height:5%; }
