body{
    margin:0;
    background:#000;
    font-family:Arial,sans-serif;
    color:#fff;
}

.container{
    max-width:500px;
    margin:auto;
}

.hero{
    width:100%;
    display:block;
}

.menu-wrapper{
    position:relative;
}

.hotspot{
    position:absolute;
    left:50% !important;
    transform:translateX(-50%) !important;
    width:48% !important;
    height:3.7% !important;
    display:block;
    background:rgba(255,0,0,0.30) !important;
    border:2px solid yellow !important;
}

/* POZICIJE DUGMADI */
.coffee{ top:39.8% !important; }
.summer{ top:45.3% !important; }
.snack{ top:50.7% !important; }
.icecream{ top:56.2% !important; }
.cocktails{ top:61.6% !important; }
.combo{ top:67.1% !important; }
.beer{ top:72.6% !important; }
.alcohol{ top:78.0% !important; }

.back{
    display:block;
    margin:15px;
    background:#181818;
    border:1px solid #c8a35c;
    border-radius:22px;
    padding:18px;
    text-align:center;
    text-decoration:none;
    font-weight:700;
    font-size:20px;
    color:#d9b36b;
}

#gallery{
    max-width:700px;
    margin:auto;
    padding:10px;
}

.menuimg{
    width:100%;
    display:block;
    margin-bottom:16px;
    border-radius:16px;
}
